---
import { Icon } from "astro-icon/components";
import { getCollection, getEntry, render } from "astro:content";
import ProjectLayout from "../../layout/ProjectLayout.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { id: project.id },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<ProjectLayout
  title={project.data.title}
  updatedDate={project.data.updatedDate}
>
  <header class="flex items-center gap-4 max-w-4xl mx-auto p-4 mt-4">
    <h1 class="text-4xl font-bold">{project.data.title}</h1>
    <ul class="flex items-center gap-3">
      {
        project.data.url && (
          <li>
            <a
              href={project.data.url}
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Visita el sitio web del proyecto"
            >
              <Icon name="external-link" class="size-6" />
            </a>
          </li>
        )
      }
      {
        project.data.repoURL && (
          <li>
            <a
              href={project.data.repoURL}
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Visita el repositorio del proyecto"
            >
              <Icon name="github" class="size-6" />
            </a>
          </li>
        )
      }
    </ul>
  </header>
  <div class="relative divider h-0.5 bg-neutral-800"></div>
  <main class="max-w-4xl mx-auto space-y-4 p-4">
    <section class="space-y-2">
      <h2 class="uppercase font-semibold leading-4.5 tracking-wider">Stack</h2>
      <ul class="flex items-center gap-2 flex-wrap">
        {
          project.data.stack.map(async (id) => {
            const tech = await getEntry(id);
            return (
              <li class="border bg-neutral-900 border-neutral-700 text-sm w-fit px-4 py-1 rounded-3xl">
                {tech.data.name}
              </li>
            );
          })
        }
      </ul>
    </section>
    <hr class="border-neutral-800" />
    <div id="content" class="space-y-6">
      <Content />
    </div>
  </main>
</ProjectLayout>

<style is:inline>
  .divider::after,
  .divider::before {
    --light-width: 120px;
    content: "";
    position: absolute;
    height: 100%;
    width: var(--light-width);
    left: 0%;
    background: linear-gradient(80deg, transparent, oklch(91.7% 0.08 205.041));
    animation: 10s left-to-right linear infinite;
  }

  .divider::before {
    filter: blur(5px);
  }

  @keyframes left-to-right {
    from {
      left: calc(0% - var(--light-width));
      opacity: 1;
    }
    to {
      left: calc(100% + var(--light-width));
      opacity: 0;
    }
  }

  #content h2 {
    font-weight: 700;
    font-size: var(--text-xl);
    text-transform: uppercase;
    line-height: var(--tw-leading, var(--text-xl--line-height));
    margin-bottom: calc(var(--spacing) * 1);
  }

  #content strong {
    color: var(--color-cyan-300);
  }

  #content p {
    max-width: 60ch;
    text-wrap: balance;
  }

  #content li::before {
    content: "- ";
  }
</style>
