---
import { Font } from "astro:assets";
import "../styles/global.css";
import personal from "../data/personal.json";

interface Props {
  title: string;
  updatedDate: Date;
}

const { title, updatedDate } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Manuel Seitz | {title}</title>
    <Font cssVariable="--font-sans" preload />
  </head>
  <body class="bg-neutral-950 font-sans overflow-x-hidden text-neutral-50">
    <slot />
    <footer class="px-8 py-4 border-t mt-8 text-sm border-neutral-900">
      <div class="flex items-center justify-between max-w-7xl mx-auto">
        <div
          class="flex items-center gap-2 max-md:flex-col max-md:items-start max-md:gap-0"
        >
          <strong>Manuel Seitz</strong>
          <div class="size-1 bg-neutral-50 rounded-full max-md:hidden"></div>
          <p class="text-neutral-400 max-md:text-xs">
            Actualizado el {
              updatedDate.toLocaleString("es", {
                dateStyle: "long",
              })
            }
          </p>
        </div>
        <div class="flex items-center gap-6">
          <ul class="flex items-center gap-2">
            {
              personal.social.map(({ name, href }) => (
                <li>
                  <a
                    href={href}
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label={name}
                  >
                    {name}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
